body {
  font-size: 15px;
  background: white;

  color: black;

  box-sizing: border-box;
  justify-content: flex-end;

  background-color: white;
}
.container {
  background: skyblue;
  border: 1px solid grey;
  padding: 20px;
  max-width: 800px;
  margin-left: 150px;
}
.form {
  font-size: 15px;
  padding: 50px;
  width: 440px;
  height: 1px;
  padding-left: 0;
  margin-left: 0;
}
.city-info {
  display: flex;
  align-items: center;
  gap: 150px;
}
.searchbox {
  text-align: left;
  width: 330px;
  height: 30px;
  padding: 10px;
  border: 1px solid purple;
}
.submitbox {
  width: 70px;
  height: 30px;
  background-color: rgb(6, 72, 129);
  color: white;
  cursor: pointer;
}
.submitbox:hover {
  background-color: rgb(56, 130, 196);
}
.humidity {
  color: rgb(207, 161, 161);
}
.wind {
  color: rgb(207, 161, 161);
}
.Weather {
  display: flex;
  align-items: center;
  transform: translateY(15px);
}
.emoji {
  margin-right: 5px;
  width: 70px;
  height: 70px;
}
.temp {
  font-size: 50px;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
}
.weather-forecast-day {
  text-align: center;
  margin-bottom: 20px;
}
.weather-day {
  color: rgba(0, 0, 0);
  margin-top: 40px;
}
.weather-icon {
  width: 60px;
  margin-top: 20px;
}
.weather-temperatures {
  margin-top: 20px;
  color: rgb(240, 146, 146);
  display: flex;
  justify-content: center;
}
.weather-temp1 {
  padding: 0 10px;
}
footer {
  margin-top: 30px;
  font-size: 12px;
}
.degree {
  font-size: 0.5em;
  position: relative;
  top: -15px;
}
.unit {
  font-size: 15px;
  position: relative;
  top: -18px;
}
.digit {
  font-size: 48px;
}
